/* ================================================
    Basic
================================================ */

body {
    font-family: 'Lato', Avenir, sans-serif;
    font-size: 16px;
    color: #444444;
    line-height: 23px;
}

h1 {
    font-size: 28px;
    line-height: 32px;
    color: #242f37;
}

h2 {
    font-size: 20px;
    line-height: 24px;
    color: #242f37;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h4 {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', Avenir, sans-serif !important;
}

.page-header h1:after, .page-header h2:after {
    background-color: #63bd5a;
    bottom: 0;
    content: "";
    margin-top: 10px;
    margin-bottom: -1px;
    display: block;
    width: 50px;
    height: 3px;
}

/* ================================================
    Header
================================================ */

/* Main Header */
#mainHeader {
    background-color: #004B87;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mainLogo > a > img {
    margin: 5px 0 15px 0 !important;
    width: 100%;
    max-width: 320px;
}

#mainLogo {
    position: relative;
}

#headerSearch {
    position: relative;
    top: 7px;
}

.menu {
    padding-right: 20px;
}

.menu > section > a {
    color: #FFF;
}

#georgian-search{
    width:250px;
    border-radius: 0;
}

.medium-search {
    margin-top: 30px;
}

.medium-search .btn {
    border-radius: 0 !important;
}

.searchBtn {
    width: 126px;
}

/* Main Nav */
#mainNav {
    background-color: #333F48;
}

#mainNav > .container {
    height: 100%;
}

#mainNav > .container > .row {
    padding: 15px 0;
}

#mainNav nav ul li a {
    min-font-size
    font-size: 17px;
    line-height: 17px;
    color: #FFF;
}

#mainNav nav ul li a:hover {
    background-color: #004B87;
}

.navbar {
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
}

/* Sub Nav */
#subNav {
    background-color: #F1F1F1;
}

#subNav nav ul li a {
    padding: 7px;
    color: #333F48; 
}

#subNav nav ul li:first-of-type a:hover {
    background-color: #F1F1F1;
    color: #333F48;
    cursor: default;
}

#subNav nav ul li a:hover {
    background-color: #64A70B;
    color: #FFF; 
}

/* Bread Crumbs */
.breadcrumb {
    background-color: #FFF;
    padding-left: 20px;
}

/* ================================================
    Main
================================================ */

/* Side Nav */
.inner-menu {
    padding: 0;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.site-home a {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', Avenir, sans-serif !important;
    line-height: 24px;
    color: #242f37;
}

.inner-menu li a, .inner-menu .nav-tabs > .active > a {
    border-radius: 0px !important;
    background-color: #64a70b;
    text-shadow: 1px 1px 0px #638854;
    color: #fff;
}

.inner-menu li a:hover {
    color: #242f37;
    background-color: #FFF;
    text-shadow: none;
    border-left: 3px solid #64a70b;
}

.nav-stacked > li > a {
    padding-left: 20px !important;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
}

/* Main Content */
.content-has-left-menu {
    border-left: none;
    box-sizing: border-box !important;
    padding-left: 30px;
    margin-left: 0px;
    position: relative;
    left: -1px;
    z-index: 0;
    box-shadow: -4px 0px 5px -3px rgba(0, 0, 0, .2);
}

.page-header {
    margin: 40px 0 20px;
    padding-bottom: 0;
    border-bottom: 1px solid #e4e4e4;
}

.page-header h1, .page-header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#new-georgian-search {
    padding: 15px;
    font-size: 130%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#searchBtnTwo {
    width: 100%;
    height: 100%;
}

.longBtn {
    padding-left: 0;
    margin-left: -20px;
}

.medium-search .btn {
    background-color: #004B87;
    color: #FFF;
}

.medium-search .btn:hover {
    background-color: #64a70b;
}

/* ================================================
    Footer
================================================ */
#footerBlock {
    background-color: #004B87;
}

#copyright {
    background-color: #333F48;
}

/* ================================================
    Media Queries
================================================ */

@media (max-width: 767px) {
    .longBtn {
        padding-left: 15px;
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    #mainHeader #headerSearch {
        display: none;
    }

    .navbar-toggle {
        color: #FFF;
        float: none;
    }
    
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .hidden-sm {
        display: none;
    }

    .content-has-left-menu {
        border: none;
        box-shadow: none;
        padding-left: 30px;;
    }
}